mat-toolbar {
  margin-bottom: 10px !important;

  &:not(.mat-primary) {
    & .mat-toolbar-row {
      flex-wrap: wrap;
      height: auto;
      padding: 5px 0;
    }

    & button {
      margin: 5px !important;
    }
  }
}

mgl-timeline:not(.mobile) {
  padding: 50px 20px;
}

mgl-timeline.mobile {
  padding-right: 20px;
}
