<div>
    <h2 id="page-heading">
        <span jhiTranslate="ramblingsofarationalmanApp.journal.home.title">Journals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-journal" [routerLink]="['/journal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ramblingsofarationalmanApp.journal.home.createLabel">
            Create a new Journal
            </span>
        </button>
    </h2>
    <mat-tab-group>
        <mat-tab label="Table">
            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="alert alert-warning" id="no-result" *ngIf="journals?.length === 0">
                <span jhiTranslate="ramblingsofarationalmanApp.journal.home.notFound">No journals found</span>
            </div>
            <div class="table-responsive" id="entities" *ngIf="journals && journals.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                        <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="title"><span jhiTranslate="ramblingsofarationalmanApp.journal.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="tags"><span jhiTranslate="ramblingsofarationalmanApp.journal.tags">Tags</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="journalDate"><span jhiTranslate="ramblingsofarationalmanApp.journal.journalDate">Journal Date</span> <fa-icon icon="sort"></fa-icon></th>
                        <!--
                                            <th scope="col"  jhiSortBy="text"><span jhiTranslate="ramblingsofarationalmanApp.journal.text">Text</span> <fa-icon icon="sort"></fa-icon></th>
                        -->
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let journal of journals ;trackBy: trackId">
                        <td><a [routerLink]="['/journal', journal.id, 'view']">{{ journal.id }}</a></td>
                        <td>{{ journal.title }}</td>
                        <td jhiTranslate="{{ 'ramblingsofarationalmanApp.journalType.' + journal.tags }}" class="btn-info">{{ journal.tags }}</td>
                        <td>{{ journal.journalDate | date:'medium' }}</td>
                        <!--          <td>{{ journal.text }}</td>-->
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/journal', journal.id, 'view']"
                                        class="btn btn-info btn-sm">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>

                                <button type="submit"
                                        [routerLink]="['/journal', journal.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                                <button type="submit" (click)="delete(journal)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="journals && journals.length > 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>

                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Timeline" class="">
            <jhi-vertical-timeline [items]="items"></jhi-vertical-timeline>
        </mat-tab>
    </mat-tab-group>




</div>
