/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/stepstoit.png') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/stepstoit.png') no-repeat center top;
    background-size: contain;
  }
}

::ng-deep .menu-container {
  width: 292px !important;
  height: 284px !important;
  .main-item {
    background-color: #c74141;
  }

  .menu-item {
    background-color: cornflowerblue;
    border-radius: 90%;
  }
  .menu-title {
    flex-direction: column;
  }
  .menu-item.sub-item {
    background-color: #269191;
    font-size: smaller;
  }
  .menu-item span {
    font-family: monospace;
    font-size: small;
  }
}
