<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">To be yourself in a world that is constantly trying to make you something else is the
            greatest accomplishment.</h1>
        <h1 class="display-4"> - Ralph Waldo Emerson</h1>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            <ngp-radial-menu class="container submenu-example" [menuConfig]="menuConfig">
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faBookOpen"></fa-icon>
                    <span>Book<br>Reviews</span>

                        <a class="menu-item" ngpMenuItem>
                            <span>Fiction</span>
                        </a>
                        <a class="menu-item" ngpMenuItem>
                            <span>Non-Fiction</span>
                        </a>


                </a>
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faMap"></fa-icon>
                    <span>Political<br>Thought</span>
                </a>
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faMonument"></fa-icon>
                    <span>Rational<br>Thought</span>
                </a>
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faMusic"></fa-icon>
                    <span>Carnatic<br>Music</span>
                </a>
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faBookMedical"></fa-icon>
                    <span>Population<br>Genetics</span>

                        <a class="menu-item" ngpMenuItem>
                            <span>Ongoing<br>Projects</span>
                        </a>
                        <a class="menu-item" ngpMenuItem>
                            <span>Ramblings</span>
                        </a>

                </a>
                <a class="menu-item" ngpMenuItem>
                    <fa-icon [icon]="faMoneyBillWave"></fa-icon>
                    <span>Side<br>Hustles</span>
                </a>

            </ngp-radial-menu>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="lead" >Copyright © 2009-2020 Ramblings of a rational man is a registered trademark. All rights reserved. The thoughts and expressions of post commenters are their own opinions and do not necessarily represent those of Ramblings of a rational man or its author. All other copyrights remain the property of their respective owners. No part or whole of the content of this blog may be used, televised, digitally broadcast, or otherwise reproduced without the express consent of the owner.</p>


    </div>

</div>
