<div class="row">
    <div class="col-md-4">

        <div class="container-fluid">
            <img src="../../content/images/RamblingsLogo.png" class="d-block w-100" alt="...">
        </div>

        <!--<span class="hipster img-fluid rounded"></span>-->
    </div>
    <div class="col-md-8 row">
        <div class="card bg-gradient-info" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/populationGeneticsIcon.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"   jhiTranslate="global.menu.content.populationGenetics">Population Genetics</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/carnatic.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"   jhiTranslate="global.menu.content.carnaticMusic">Carnatic Music</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/bookReviews.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"   jhiTranslate="global.menu.content.bookReviews">Book Reviews</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/politicalThoughtLogo.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"  jhiTranslate="global.menu.content.politicalThought">Political Thought</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/monk.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"  jhiTranslate="global.menu.content.rationalThought">Rational Thought</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;margin-bottom: 4em;margin-right: 4em;">
            <img src="../../content/images/sideHustlesIcon.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title"  jhiTranslate="global.menu.content.sideHustles">Side Hustles</h5>
                <a href="#" class="btn "><img src="../../content/images/nextLogo.png"></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="lead" >Copyright © 2009-2020 Ramblings of a rational man is a registered trademark. All rights reserved. The thoughts and expressions of post commenters are their own opinions and do not necessarily represent those of Ramblings of a rational man or its author. All other copyrights remain the property of their respective owners. No part or whole of the content of this blog may be used, televised, digitally broadcast, or otherwise reproduced without the express consent of the owner.</p>


    </div>

</div>
